openapi: 3.0.1
info:
  title: fs-devportal-services-1
  description: Welcome to the Financial Services API documentation
  version: '1'
servers:
- url: https://cat.api.firstdata.com/fs
paths:
  /sbAccounts/v1/convertCurrency:
    post:
      tags:
      - optisAccountWorkflows
      summary: Fetch Currency Conversion Data
      description: service to retrieve the conversion data from one country code to
        another
      operationId: convertCurrency_v1_sbAccounts
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: convertCurrency
      x-region:
      - North America
      x-display: optisAccountWorkflows
  /sbAccounts/v1/getAccountInfoDetails:
    post:
      tags:
      - optisAccountWorkflows
      summary: Perform Account Summary Retrieval
      description: Orchestrated service to retrieve account summary details using
        the given account or search information.
      operationId: getAccountInfoDetails_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: getAccountInfoDetails
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/getNavigationConfig:
    post:
      tags:
      - optisAccountWorkflows
      summary: Fetch Navigation Config.
      description: Orchestrated service to retrieve the navigation configuration.
      operationId: getNavigationConfig_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NavigationConfigRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: getNavigationConfig
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/getPersistentSummary:
    post:
      tags:
      - optisAccountWorkflows
      summary: Fetch Persistent Summary data for Account Info component.
      description: Orchestrated service to retrieve the persistent summary details
        for the given account or search information.
      operationId: getPersistentSummary_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: getPersistentSummary
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/performAccountSearch:
    post:
      tags:
      - optisAccountWorkflows
      summary: Perform Account Search
      description: Orchestrated service to perform account or company search using
        the given account or company search information.
      operationId: performAccountSearch_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisAccountSearchRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: performAccountSearch
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateAccountStatus:
    post:
      tags:
      - optisAccountWorkflows
      summary: Update Account Status
      description: Orchestrated service to update account external status or/and reason
        code.
      operationId: updateAccountStatus_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountStatusRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateAccountStatus
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateAdjustments:
    post:
      tags:
      - optisAccountWorkflows
      summary: Update Adjustments
      description: Orchestrated service to update adjustments.
      operationId: updateAdjustments_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAdjustmentsRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateAdjustments
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateAdvantageBundle:
    post:
      tags:
      - optisAccountWorkflows
      summary: Update Advantage Bundle Miscellaneous Thirteenth Text
      description: Orchestration service to update advantage bundle section of Product
        Pricing component
      operationId: updateAdvantageBundle_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAdvantageBundleRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateAdvantageBundle
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateBillingCycleDetails:
    post:
      tags:
      - optisAccountWorkflows
      summary: Billing Cycle Details
      description: Orchestrated service to update the Billing Cycle component based
        on the billingCycleCode provided in the request.
      operationId: updateBillingCycleDetails_v1_sbAccounts
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateBillingCycleDetails
      x-region:
      - North America
      x-display: optisAccountWorkflows
  /sbAccounts/v1/updateCardStatus:
    post:
      tags:
      - optisAccountWorkflows
      summary: Update Card Status
      description: Orchestrated service to update card external status or/and reason
        code.
      operationId: updateCardStatus_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardStatusRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateCardStatus
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateClientControl:
    post:
      tags:
      - optisAccountWorkflows
      summary: Client Control Update
      description: Orchestrated service to update the Client Control component.
      operationId: updateClientControl_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateClientControlRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateClientControl
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateCompanyAdd:
    post:
      tags:
      - optisAccountWorkflows
      summary: Add a new company account
      description: Orchestration service to add a new company account
      operationId: updateCompanyAdd_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyAddRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateCompanyAdd
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateCreditBalanceRefund:
    post:
      tags:
      - optisAccountWorkflows
      summary: Credit Balance Refund Update
      description: Orchestrated service to update credit balance refund amount.
      operationId: updateCreditBalanceRefund_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCreditBalanceRefundRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateCreditBalanceRefund
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateCreditLimit:
    post:
      tags:
      - optisAccountWorkflows
      summary: Update Credit Limit
      description: This service would update credit limit amount
      operationId: updateCreditLimit_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditLineChangeRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateCreditLimit
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateCreditLimitIndividualOrSubAccount:
    post:
      tags:
      - optisAccountWorkflows
      summary: Update credit limit for individual or sub account
      description: Orchestration service to update credit limit for individual or
        sub account
      operationId: updateCreditLimitIndividualOrSubAccount_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditLimitUpdateRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateCreditLimitIndividualOrSubAccount
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateCreditLineBuffer:
    post:
      tags:
      - optisAccountWorkflows
      summary: Update Credit Line Buffer
      description: Orchestrated service that updates the credit line buffer configuration
        and any relevant data based off that configuration.
      operationId: updateCreditLineBuffer_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditLimitBufferRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateCreditLineBuffer
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateCreditLineConsent:
    post:
      tags:
      - optisAccountWorkflows
      summary: Update Cash Advance Credit Line Consent
      description: This service would update cash advance credit line consent
      operationId: updateCreditLineConsent_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditLineConsentRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateCreditLineConsent
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateCreditLineEligibility:
    post:
      tags:
      - optisAccountWorkflows
      summary: Update Credit Line Eligibility
      description: Orchestrated service that updates the credit line eligibility configuration.
      operationId: updateCreditLineEligibility_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateClientControlRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateCreditLineEligibility
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateCreditLineEnhancedReview:
    post:
      tags:
      - optisAccountWorkflows
      summary: 'Initiate Credit Line Enhanced review process '
      description: Orchestrated service that updates multiple services to initiate
        credit line review process.
      operationId: updateCreditLineEnhancedReview_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditLineEnhancedProcessReviewRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateCreditLineEnhancedReview
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateCreditLineOptOut:
    post:
      tags:
      - optisAccountWorkflows
      summary: Update Credit Line OptOut
      description: Orchestrated service that updates the credit line Opt Out Functionality
      operationId: updateCreditLineOptOut_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateCreditLineOptOut
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateCreditLineReviewDate:
    post:
      tags:
      - optisAccountWorkflows
      summary: Update credit line review date
      description: Orchestrated service that updates credit line review date based
        on user input.
      operationId: updateCreditLineReviewDate_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateCreditLineReviewDate
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateDelinquentAdjustment:
    post:
      tags:
      - optisAccountWorkflows
      summary: Delinquency Retain History Update
      description: Orchestrated service to update the Delinquency retain history for
        adjustment reason
      operationId: updateDelinquentAdjustment_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDelinquencyRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateDelinquentAdjustment
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateDelinquentAmounts:
    post:
      tags:
      - optisAccountWorkflows
      summary: Delinquent Amounts Update
      description: Orchestrated service to update the Delinquency amounts
      operationId: updateDelinquentAmounts_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDelinquencyRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateDelinquentAmounts
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateDelinquentAutoPayments:
    post:
      tags:
      - optisAccountWorkflows
      summary: Delinquent Auto Payments  Update
      description: Orchestrated service to update the Delinquency auto payments
      operationId: updateDelinquentAutoPayments_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDelinquencyRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateDelinquentAutoPayments
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateDelinquentStandardReage:
    post:
      tags:
      - optisAccountWorkflows
      summary: Delinquency Retain History Update
      description: Orchestrated service to update the Delinquency retain history for
        standard reage reason
      operationId: updateDelinquentStandardReage_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDelinquencyRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateDelinquentStandardReage
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateEditRestrictions:
    post:
      tags:
      - optisAccountWorkflows
      summary: Update data for company edit restrictions
      description: Service to Update data for company edit restrictions
      operationId: updateEditRestrictions_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEditRestrictionsRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateEditRestrictions
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateEnhancedCreditLimit:
    post:
      tags:
      - optisAccountWorkflows
      summary: Update Credit Line Enhanced Credit Limit Amount
      description: Orchestrated service that updated credit limit amount.
      operationId: updateEnhancedCreditLimit_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditLimitUpdateRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateEnhancedCreditLimit
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateExpirationDate:
    post:
      tags:
      - optisAccountWorkflows
      summary: Update Account Expiration Date
      description: Orchestrated service to update account expiration date.
      operationId: updateExpirationDate_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountExpirationDateRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateExpirationDate
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateLowerNonDelinquentMinPayment:
    post:
      tags:
      - optisAccountWorkflows
      summary: Lower Non Delinquent Min Payment Update
      description: Orchestrated service to update the Non Delinquent Min Payment
      operationId: updateLowerNonDelinquentMinPayment_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDelinquencyRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateLowerNonDelinquentMinPayment
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateMiscFields:
    post:
      tags:
      - optisAccountWorkflows
      summary: Misc Fields Update
      description: Orchestrated service to update the Miscellaneous Fields.
      operationId: updateMiscFields_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMiscFieldsRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateMiscFields
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateNoCreditLineIncrease:
    post:
      tags:
      - optisAccountWorkflows
      summary: Update no credit line increase
      description: Orchestrated service that updates credit line review date to 9999
        to reflect no credit line increase.
      operationId: updateNoCreditLineIncrease_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateNoCreditLineIncrease
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateOrderConvenienceChecks:
    post:
      tags:
      - optisAccountWorkflows
      summary: OrderConvenienceChecks Update
      description: Orchestrated service to update the OrderConvenienceChecks component.
      operationId: updateOrderConvenienceChecks_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderConvenienceChecksRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateOrderConvenienceChecks
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updatePermanentCreditLimit:
    post:
      tags:
      - optisAccountWorkflows
      summary: Update Permanent Credit Limit change
      description: Orchestrated service that updates the Permanent Credit Limit
      operationId: updatePermanentCreditLimit_v1_sbAccounts
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updatePermanentCreditLimit
      x-region:
      - North America
      x-display: optisAccountWorkflows
  /sbAccounts/v1/updatePreventLateFeeAssessment:
    post:
      tags:
      - optisAccountWorkflows
      summary: Prevent Late Fee Assessment Update
      description: Orchestrated service to update and prevent Late Fee Assessment.
      operationId: updatePreventLateFeeAssessment_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePreventFeeAssessmentRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updatePreventLateFeeAssessment
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateRestrictChecks:
    post:
      tags:
      - optisAccountWorkflows
      summary: Restrict Checks Update
      description: Orchestrated service to update the Restrict Checks component.
      operationId: updateRestrictChecks_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestrictChecksRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateRestrictChecks
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateRewards:
    post:
      tags:
      - optisAccountWorkflows
      summary: Rewards Update
      description: Orchestrated service to update various tabs of Rewards component.
      operationId: updateRewards_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRewardsBonusRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateRewards
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateSpecialFlags:
    post:
      tags:
      - optisAccountWorkflows
      summary: Special Flags Update
      description: Orchestrated service to obtain UI configuration, entitlements,
        and data for updating the Special Flags values.
      operationId: updateSpecialFlags_v1_sbAccounts
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateSpecialFlags
      x-region:
      - North America
      x-display: optisAccountWorkflows
  /sbAccounts/v1/updateStopPayment:
    post:
      tags:
      - optisAccountWorkflows
      summary: Stop Payment Update
      description: Orchestrated service to perform Stop Payment update using the single
        or range of checks options.
      operationId: updateStopPayment_v1_sbAccounts
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateStopPayment
      x-region:
      - North America
      x-display: optisAccountWorkflows
  /sbAccounts/v1/updateStopPaymentAllChecks:
    post:
      tags:
      - optisAccountWorkflows
      summary: Stop Payment All Checks Update
      description: Orchestrated service to update the Stop Payment All Checks component.
      operationId: updateStopPaymentAllChecks_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopPaymentAllChecksRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateStopPaymentAllChecks
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/updateTemporaryCreditLine:
    post:
      tags:
      - optisAccountWorkflows
      summary: Fetch Credit Limit data for Account Customer
      description: service to retrieve the Credit Details for the given account or
        search information.
      operationId: updateTemporaryCreditLine_v1_sbAccounts
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateTemporaryCreditLine
      x-region:
      - North America
      x-display: optisAccountWorkflows
  /sbAccounts/v1/updateUserFlags:
    post:
      tags:
      - optisAccountWorkflows
      summary: User Flags Update
      description: Orchestrated service to update the User Flags component.
      operationId: updateUserFlags_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserFlagsRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateUserFlags
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewAccountExpiration:
    post:
      tags:
      - optisAccountWorkflows
      summary: View Account Expiration
      description: Orchestrated service to view account expiration.
      operationId: viewAccountExpiration_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewAccountExpiration
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewAccountSearch:
    post:
      tags:
      - optisAccountWorkflows
      summary: View Account Search
      description: Orchestrated service to view account search, returning feature
        configurations, entitlements, and any necessary data.
      operationId: viewAccountSearch_v1_sbAccounts
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewAccountSearch
      x-region:
      - North America
      x-display: optisAccountWorkflows
  /sbAccounts/v1/viewAccountStatus:
    post:
      tags:
      - optisAccountWorkflows
      summary: View Account Status
      description: Orchestrated service to view account status.
      operationId: viewAccountStatus_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewAccountStatus
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewAdjustments:
    post:
      tags:
      - optisAccountWorkflows
      summary: view adjustments
      description: Orchestrated service to obtain UI configuration, entitlements,
        and data for viewing adjustments.
      operationId: viewAdjustments_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewAdjustments
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewAuthorizationHistory:
    post:
      tags:
      - optisAccountWorkflows
      summary: View Authorization History
      description: Orchestrated service to obtain UI configuration, entitlements,
        and data for viewing and interacting with the Authorization History component.
      operationId: viewAuthorizationHistory_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizationHistoryRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewAuthorizationHistory
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewBillingCycleDetails:
    post:
      tags:
      - optisAccountWorkflows
      summary: Billing Cycle Details
      description: 'Orchestrated service to obtain UI configuration, entitlements,
        and data for viewing and +

        interacting with the Billing Cycle component.'
      operationId: viewBillingCycleDetails_v1_sbAccounts
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewBillingCycleDetails
      x-region:
      - North America
      x-display: optisAccountWorkflows
  /sbAccounts/v1/viewCardStatus:
    post:
      tags:
      - optisAccountWorkflows
      summary: View Card Status
      description: Orchestrated service to view card status.
      operationId: viewCardStatus_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCardStatus
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewClientControl:
    post:
      tags:
      - optisAccountWorkflows
      summary: Client Control View
      description: 'Orchestrated service to obtain UI configuration, entitlements,
        and data for viewing and +

        interacting with the Client Control component.'
      operationId: viewClientControl_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewClientControl
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewCompanyAccountList:
    post:
      tags:
      - optisAccountWorkflows
      summary: Perform Company Account List Retrieval
      description: Orchestrated service to retrieve company account list using the
        given company or search information.
      operationId: viewCompanyAccountList_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanySearchRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCompanyAccountList
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewCompanyAccountMaintenance:
    post:
      tags:
      - optisAccountWorkflows
      summary: Get data/configuration for company account maintenance
      description: Service to get data/configuration for company account maintenance
      operationId: viewCompanyAccountMaintenance_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanySearchRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCompanyAccountMaintenance
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewCompanyAdd:
    post:
      tags:
      - optisAccountWorkflows
      summary: Get configuration for companyAdd
      description: Service to get configuration for companyAdd
      operationId: viewCompanyAdd_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCompanyAdd
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewCompanyBalanceStatus:
    post:
      tags:
      - optisAccountWorkflows
      summary: Company Balance and Status View
      description: 'Orchestrated service to obtain UI configuration, entitlements,
        and data for viewing and +

        interacting with the Company Balance and Status component.'
      operationId: viewCompanyBalanceStatus_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCompanyBalanceStatus
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewCompanyRewardsExpandedFields:
    post:
      tags:
      - optisAccountWorkflows
      summary: Company Rewards Expanded fields View
      description: 'Orchestrated service to obtain UI configuration, entitlements,
        and data for viewing and +

        interacting with the Company Rewards component expanded fields section.'
      operationId: viewCompanyRewardsExpandedFields_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyRewardsRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCompanyRewardsExpandedFields
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewCompanyRewardsFields:
    post:
      tags:
      - optisAccountWorkflows
      summary: Company Rewards View
      description: 'Orchestrated service to obtain UI configuration, entitlements,
        and data for viewing and +

        interacting with the Company Rewards component grid section.'
      operationId: viewCompanyRewardsFields_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyRewardsRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCompanyRewardsFields
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewCompanyStrategyDetails:
    post:
      tags:
      - optisAccountWorkflows
      summary: Company Strategy Details View
      description: 'Orchestrated service to obtain UI configuration, entitlements,
        and data for viewing and +

        interacting with the Company Strategy component.'
      operationId: viewCompanyStrategyDetails_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyStrategyRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCompanyStrategyDetails
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewConsumerRewards:
    post:
      tags:
      - optisAccountWorkflows
      summary: Consumer Rewards Component View
      description: 'Orchestrated service to obtain UI configuration, entitlements,
        and data for viewing and +

        interacting with Consumer Rewards component.'
      operationId: viewConsumerRewards_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewConsumerRewards
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewConvenienceChecks:
    post:
      tags:
      - optisAccountWorkflows
      summary: Convenience Checks View
      description: 'Orchestrated service to obtain UI configuration, entitlements,
        and data for viewing and +

        interacting with the Convenience Checks component.'
      operationId: viewConvenienceChecks_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewConvenienceChecks
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewConvertCurrency:
    post:
      tags:
      - optisAccountWorkflows
      summary: Fetch Currency Conversion Data
      description: 'service to retrieve the conversion data '
      operationId: viewConvertCurrency_v1_sbAccounts
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewConvertCurrency
      x-region:
      - North America
      x-display: optisAccountWorkflows
  /sbAccounts/v1/viewCreditBalanceRefund:
    post:
      tags:
      - optisAccountWorkflows
      summary: Credit Balance Refund View
      description: 'Orchestrated service to obtain UI configuration, entitlements,
        and data for viewing and +

        interacting with the Credit Balance Refund component.'
      operationId: viewCreditBalanceRefund_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCreditBalanceRefund
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewCreditLine:
    post:
      tags:
      - optisAccountWorkflows
      summary: View Credit Line Maintenance
      description: Orchestrated service that returns the credit line maintenance main
        component configuration without any data.
      operationId: viewCreditLine_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCreditLine
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewCreditLineBuffer:
    post:
      tags:
      - optisAccountWorkflows
      summary: View Credit Line Buffer
      description: Orchestrated service that returns the credit line buffer configuration
        and any relevant view data based off that configuration.
      operationId: viewCreditLineBuffer_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCreditLineBuffer
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewCreditLineChange:
    post:
      tags:
      - optisAccountWorkflows
      summary: View Credit Line change
      description: Orchestrated service that returns the credit line change configuration
        and any relevant view data based off that configuration.
      operationId: viewCreditLineChange_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditLineChangeRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCreditLineChange
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewCreditLineConsent:
    post:
      tags:
      - optisAccountWorkflows
      summary: View Credit Line Maintenance Consent
      description: Orchestrated service that returns the credit line maintenance consent
        configuration and any relevant view data based off that configuration.
      operationId: viewCreditLineConsent_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCreditLineConsent
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewCreditLineEligibility:
    post:
      tags:
      - optisAccountWorkflows
      summary: View Credit Line Maintenance Eligiblity
      description: Orchestrated service that returns the credit line maintenance eligility
        configuration and any relevant view data based off that configuration.
      operationId: viewCreditLineEligibility_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCreditLineEligibility
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewCreditLineEnhanced:
    post:
      tags:
      - optisAccountWorkflows
      summary: View Credit Line Maintenance (Enhanced)
      description: Orchestrated service that returns the credit line maintenance main
        component configuration without any data.
      operationId: viewCreditLineEnhanced_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCreditLineEnhanced
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewCreditLineEnhancedInformation:
    post:
      tags:
      - optisAccountWorkflows
      summary: View Credit Line Enhanced Maintenance Information
      description: Orchestrated service that returns the credit line maintenance configuration
        and any relevant view data based on configuration.
      operationId: viewCreditLineEnhancedInformation_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCreditLineEnhancedInformation
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewCreditLineEnhancedManualReview:
    post:
      tags:
      - optisAccountWorkflows
      summary: View Credit Line Enhanced Review Information
      description: Orchestrated service that returns the credit line maintenance configuration
        and entitlements.
      operationId: viewCreditLineEnhancedManualReview_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCreditLineEnhancedManualReview
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewCreditLineEnhancedReview:
    post:
      tags:
      - optisAccountWorkflows
      summary: View Credit Line Enhanced Review Information
      description: Orchestrated service that returns the credit line maintenance configuration
        and any relevant view data based on configuration.
      operationId: viewCreditLineEnhancedReview_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCreditLineEnhancedReview
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewCreditLineIndividualAccount:
    post:
      tags:
      - optisAccountWorkflows
      summary: Company Credit Line Individual Account View
      description: 'Orchestrated service to obtain UI configuration, entitlements,
        and data for viewing and +

        interacting with the Company Credit Line Individual Account component.'
      operationId: viewCreditLineIndividualAccount_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCreditLineIndividualAccount
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewCreditLineOptOut:
    post:
      tags:
      - optisAccountWorkflows
      summary: View Credit Line OptOut
      description: Orchestrated service that returns the credit line Opt Out Functionality
      operationId: viewCreditLineOptOut_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCreditLineOptOut
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewCreditLineSubAccount:
    post:
      tags:
      - optisAccountWorkflows
      summary: Company Credit Line Sub Account View
      description: 'Orchestrated service to obtain UI configuration, entitlements,
        and data for viewing and +

        interacting with the Company Credit Line Sub Account component.'
      operationId: viewCreditLineSubAccount_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCreditLineSubAccount
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewDelinquency:
    post:
      tags:
      - optisAccountWorkflows
      summary: Delinquency View
      description: 'Orchestrated service to obtain UI configuration, entitlements,
        and data for viewing and +

        interacting with the Delinquency component.'
      operationId: viewDelinquency_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewDelinquency
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewEditRestrictions:
    post:
      tags:
      - optisAccountWorkflows
      summary: Get data/configuration for company edit restrictions
      description: Service to get data/configuration for company edit restrictions
      operationId: viewEditRestrictions_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewEditRestrictions
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewMethodOverrides:
    post:
      tags:
      - optisAccountWorkflows
      summary: Method Overrides Component View
      description: View Service to obtain details for the Method Overrides
      operationId: viewMethodOverrides_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewMethodOverrides
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewMiscFields:
    post:
      tags:
      - optisAccountWorkflows
      summary: Misc Fields View
      description: 'Orchestrated service to obtain UI configuration, entitlements,
        and data for viewing and +

        interacting with the Miscellaneous Fields component.'
      operationId: viewMiscFields_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewMiscFields
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewPaymentHistory:
    post:
      tags:
      - optisAccountWorkflows
      summary: Payment History Component View
      description: 'Orchestrated service to obtain UI configuration, entitlements,
        and data for viewing and +

        interacting with Payment History component.'
      operationId: viewPaymentHistory_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewPaymentHistory
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewPermanentCreditLimit:
    post:
      tags:
      - optisAccountWorkflows
      summary: View Permanent Credit Limit change
      description: Orchestrated service that returns the config for the Permanent
        Credit Limit
      operationId: viewPermanentCreditLimit_v1_sbAccounts
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewPermanentCreditLimit
      x-region:
      - North America
      x-display: optisAccountWorkflows
  /sbAccounts/v1/viewPhoneAddressLists:
    post:
      tags:
      - optisAccountWorkflows
      summary: Phone Address Lists View
      description: View service to obtain the Phone and Address Lists
      operationId: viewPhoneAddressLists_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewPhoneAddressLists
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewPricingAndPromotions:
    post:
      tags:
      - optisAccountWorkflows
      summary: Pricing and Promotions Component View
      description: 'Orchestrated service to obtain UI configuration, entitlements,
        and data for viewing and +

        interacting with the Pricing and Promotions component.'
      operationId: viewPricingAndPromotions_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewPricingAndPromotions
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewProductPricing:
    post:
      tags:
      - optisAccountWorkflows
      summary: Product Pricing View
      description: 'Orchestrated service to obtain UI configuration, entitlements,
        and data for viewing and +

        interacting with the Product Pricing component.'
      operationId: viewProductPricing_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductPricingRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewProductPricing
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewPromotions:
    post:
      tags:
      - optisAccountWorkflows
      summary: Promotions View
      description: 'Orchestrated service to obtain UI configuration, entitlements,
        and data for viewing and +

        interacting with the Promotions component.'
      operationId: viewPromotions_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewPromotions
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewProtectedBalance:
    post:
      tags:
      - optisAccountWorkflows
      summary: Protected Balance Component View
      description: 'Orchestrated service to obtain UI configuration, entitlements,
        and data for viewing and +

        interacting with the Protected Balance component.'
      operationId: viewProtectedBalance_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewProtectedBalance
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewRecentSearches:
    post:
      tags:
      - optisAccountWorkflows
      summary: Recent search results
      description: Orchestrated service to perform Recent search results.
      operationId: viewRecentSearches_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewRecentSearches
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewRewards:
    post:
      tags:
      - optisAccountWorkflows
      summary: Rewards View
      description: 'Orchestrated service to obtain UI configuration, entitlements,
        and data for viewing and +

        interacting with the Rewards component.'
      operationId: viewRewards_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewRewards
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewSecureConfig:
    post:
      tags:
      - optisAccountWorkflows
      summary: View secure config
      description: Orchestrated service to retrieve a secure config entry and cache
        results.
      operationId: viewSecureConfig_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParamFindRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParamServiceResponse'
      deprecated: false
      x-proxy-name: viewSecureConfig
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewShowMoreResults:
    post:
      tags:
      - optisAccountWorkflows
      summary: Show More Results Search
      description: Orchestrated service to perform show more results.
      operationId: viewShowMoreResults_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisShowMoreResultsRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewShowMoreResults
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewSpecialFlags:
    post:
      tags:
      - optisAccountWorkflows
      summary: Special Flags View
      description: Orchestrated service to obtain UI configuration, entitlements,
        and data for viewing and interacting with the Special Flags component.
      operationId: viewSpecialFlags_v1_sbAccounts
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewSpecialFlags
      x-region:
      - North America
      x-display: optisAccountWorkflows
  /sbAccounts/v1/viewStatusMaintenance:
    post:
      tags:
      - optisAccountWorkflows
      summary: View Status Maintenance
      description: Orchestrated service to view status maintenance.
      operationId: viewStatusMaintenance_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewStatusMaintenance
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewSystemStrategy:
    post:
      tags:
      - optisAccountWorkflows
      summary: View System Strategy
      description: Orchestrated service to view System Strategy
      operationId: viewSystemStrategy_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyStrategyRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewSystemStrategy
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewTemporaryCreditLine:
    post:
      tags:
      - optisAccountWorkflows
      summary: Fetch Credit Limit data for Account Customer
      description: service to retrieve the Credit Details for the given account or
        search information.
      operationId: viewTemporaryCreditLine_v1_sbAccounts
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewTemporaryCreditLine
      x-region:
      - North America
      x-display: optisAccountWorkflows
  /sbAccounts/v1/viewUserFlags:
    post:
      tags:
      - optisAccountWorkflows
      summary: User Flags View
      description: 'Orchestrated service to obtain UI configuration, entitlements,
        and data for viewing and +

        interacting with the User Flags component.'
      operationId: viewUserFlags_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewUserFlags
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbAccounts/v1/viewWebsiteLauncher:
    post:
      tags:
      - optisAccountWorkflows
      summary: Website Launcher View
      description: View service to obtain the websites to display
      operationId: viewWebsiteLauncher_v1_sbAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebsiteLauncherRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewWebsiteLauncher
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbCardWorkflows/v1/addCardholderIdentification:
    post:
      tags:
      - optisAccountWorkflows
      summary: Add Cardholder Identification
      description: Orchestrated service that adds cardholder identification details.
      operationId: addCardholderIdentification_v1_sbCardWorkflows
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardholderIdAddOrUpdateRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: addCardholderIdentification
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbCardWorkflows/v1/addCardholderInformation:
    post:
      tags:
      - optisAccountWorkflows
      summary: Add Cardholder Information
      description: Orchestrated service that adds cardholder information.
      operationId: addCardholderInformation_v1_sbCardWorkflows
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardholderAddOrUpdateRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: addCardholderInformation
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbCardWorkflows/v1/addOrUpdateCardholderAddress:
    post:
      tags:
      - optisAccountWorkflows
      summary: Add or Update Cardholder Address
      description: Orchestrated service that adds or updates cardholder address details.
      operationId: addOrUpdateCardholderAddress_v1_sbCardWorkflows
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardholderAddressAddOrUpdateRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: addOrUpdateCardholderAddress
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbCardWorkflows/v1/addOrUpdateCardholderStandardAddress:
    post:
      tags:
      - optisAccountWorkflows
      summary: Add or Update Cardholder Standard Address
      description: Orchestrated service that adds or updates cardholder standard address
        details.
      operationId: addOrUpdateCardholderStandardAddress_v1_sbCardWorkflows
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardholderAddressAddOrUpdateRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: addOrUpdateCardholderStandardAddress
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbCardWorkflows/v1/deleteCardholderAddress:
    post:
      tags:
      - optisAccountWorkflows
      summary: Delete Cardholder Address
      description: Orchestrated service that deletes cardholder address details either
        from standard or expanded address section.
      operationId: deleteCardholderAddress_v1_sbCardWorkflows
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardholderAddressAddOrUpdateRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: deleteCardholderAddress
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbCardWorkflows/v1/deleteCardholderIdentification:
    post:
      tags:
      - optisAccountWorkflows
      summary: Delete Cardholder Identification
      description: Orchestrated service that deletes cardholder identification details.
      operationId: deleteCardholderIdentification_v1_sbCardWorkflows
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardholderIdAddOrUpdateRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: deleteCardholderIdentification
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbCardWorkflows/v1/deleteCardholderInformation:
    post:
      tags:
      - optisAccountWorkflows
      summary: Delete Cardholder Information
      description: Orchestrated service that deletes cardholder information.
      operationId: deleteCardholderInformation_v1_sbCardWorkflows
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardholderAddOrUpdateRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: deleteCardholderInformation
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbCardWorkflows/v1/updateCardholderIdentification:
    post:
      tags:
      - optisAccountWorkflows
      summary: Update Cardholder Identification
      description: Orchestrated service that updates cardholder identification details.
      operationId: updateCardholderIdentification_v1_sbCardWorkflows
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardholderIdAddOrUpdateRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateCardholderIdentification
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbCardWorkflows/v1/updateCardholderMaintenance:
    post:
      tags:
      - optisAccountWorkflows
      summary: Update Cardholder Maintenance
      description: Orchestrated service that updates cardholder maintenance details
        from telephone, email, information or other sections.
      operationId: updateCardholderMaintenance_v1_sbCardWorkflows
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardholderAddOrUpdateRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: updateCardholderMaintenance
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbCardWorkflows/v1/viewCardholderAddress:
    post:
      tags:
      - optisAccountWorkflows
      summary: View Cardholder Maintenance Address details
      description: Orchestrated service to view cardholder address details.
      operationId: viewCardholderAddress_v1_sbCardWorkflows
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCardholderAddress
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbCardWorkflows/v1/viewCardholderAddressHistory:
    post:
      tags:
      - optisAccountWorkflows
      summary: View Cardholder Maintenance Address History details
      description: Orchestrated service to view cardholder address history details.
      operationId: viewCardholderAddressHistory_v1_sbCardWorkflows
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCardholderAddressHistory
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbCardWorkflows/v1/viewCardholderEmail:
    post:
      tags:
      - optisAccountWorkflows
      summary: View Cardholder Maintenance Email details
      description: Orchestrated service to view cardholder email details.
      operationId: viewCardholderEmail_v1_sbCardWorkflows
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCardholderEmail
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbCardWorkflows/v1/viewCardholderIdentification:
    post:
      tags:
      - optisAccountWorkflows
      summary: View Cardholder Maintenance Identification details
      description: Orchestrated service to view cardholder identification details.
      operationId: viewCardholderIdentification_v1_sbCardWorkflows
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCardholderIdentification
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbCardWorkflows/v1/viewCardholderInformation:
    post:
      tags:
      - optisAccountWorkflows
      summary: View Cardholder Maintenance Information details
      description: Orchestrated service to view cardholder information details.
      operationId: viewCardholderInformation_v1_sbCardWorkflows
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCardholderInformation
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbCardWorkflows/v1/viewCardholderMaintenance:
    post:
      tags:
      - optisAccountWorkflows
      summary: View Cardholder Maintenance
      description: Orchestrated service to view cardholder maintenance details.
      operationId: viewCardholderMaintenance_v1_sbCardWorkflows
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCardholderMaintenance
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbCardWorkflows/v1/viewCardholderOther:
    post:
      tags:
      - optisAccountWorkflows
      summary: View Cardholder Maintenance Other details
      description: Orchestrated service to view cardholder other details.
      operationId: viewCardholderOther_v1_sbCardWorkflows
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCardholderOther
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbCardWorkflows/v1/viewCardholderStandardAddress:
    post:
      tags:
      - optisAccountWorkflows
      summary: View Cardholder Maintenance Standard Address details
      description: Orchestrated service to view cardholder standard address details.
      operationId: viewCardholderStandardAddress_v1_sbCardWorkflows
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCardholderStandardAddress
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbCardWorkflows/v1/viewCardholderTelephone:
    post:
      tags:
      - optisAccountWorkflows
      summary: View Cardholder Maintenance Telephone details
      description: Orchestrated service to view cardholder telephone details.
      operationId: viewCardholderTelephone_v1_sbCardWorkflows
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: viewCardholderTelephone
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbOptisAccounts/v1/addDebitAccount:
    post:
      tags:
      - optisAccountWorkflows
      summary: Add Debit Account
      description: Orchestrated service to Add Debit Account
      operationId: addDebitAccount_v1_sbOptisAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDebitAccountRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: addDebitAccount
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbOptisAccounts/v1/addMemo:
    post:
      tags:
      - optisAccountWorkflows
      summary: Add chronicle Memos
      description: Orchestrated service to Add Chronicle Memos
      operationId: addMemo_v1_sbOptisAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChronicleAddRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceUpdateResponse'
      deprecated: false
      x-proxy-name: addMemo
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbOptisAccounts/v1/chronicleBehaviors:
    post:
      tags:
      - optisAccountWorkflows
      summary: Get chronicle behaviors
      description: Orchestrated service to retrieve Chronicle Behaviors
      operationId: chronicleBehaviors_v1_sbOptisAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: chronicleBehaviors
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbOptisAccounts/v1/chronicleFilters:
    post:
      tags:
      - optisAccountWorkflows
      summary: Get chronicle filters
      description: Orchestrated service to retrieve Chronicle Filters
      operationId: chronicleFilters_v1_sbOptisAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptisServiceBaseRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptisServiceViewResponse'
      deprecated: false
      x-proxy-name: chronicleFilters
      x-region:
      - North America
      x-display: optisAccountWorkflows
      x-codegen-request-body-name: body
  /sbOptisAccounts/v1/deleteDebitAccount:
    post:
      tags:
      - optisAccountWorkflows
      summary: Delete Debit Account
      description: Orchestrated service to Delete Debit Account
      operationId: deleteDebitAccount_v1_sbOptisAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDebitAccountRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
[...]
